# Игнорируем папку мира и данные игроков
scworld/
scworld_nether/
scworld_the_end/
players/
userdata/
*.mca
*.mcr
*.dat
*.dat_old

# Игнорируем .schem файлы
*.schem
*.schematic

# Игнорируем файлы jar (сервер и плагины)
*.jar

# Игнорируем базы данных (SQLite, MySQL дампы и другие)
*.db
*.sqlite
*.sql
*.log
*.lock

# Игнорируем временные файлы, кеш и логи
cache/
logs/
.paper-remapped/
bStats/
legacy-backup/

*.tmp
*.bak

# Игнорируем конфигурации IDE и системные файлы
.idea/
.vscode/
*.iml
*.class
*.exe
*.bat
*.sh~
*.pid

# Разрешаем файлы конфигурации, они должны сохраняться в репозитории
!**/*.yml
!**/*.yaml
!**/*.json
!**/*.conf
!**/*.cfg
!**/*.properties
!**/*.toml
!**/*.ini
!**/*.xml

# Игнорируем секретные
ops.json
whitelist.json

# --- Исключения для плагинов, которые хранят данные в текстовых файлах ---
plugins/CarbonChat/users/
plugins/CreativeManager/data/
plugins/CustomDiscs/musicdata/
plugins/CustomDiscs/data.yml
plugins/dDiscordBot/
plugins/Denizen/player_flags
plugins/Denizen/server_flags.dat
plugins/Denizen/secrets.secret
plugins/DiscordSRV/accounts.aof
plugins/DiscordSRV/*.old

plugins/dynmap/web/
plugins/dynmap/renderdata/
plugins/dynmap/templates/
plugins/dynmap/colorschemes/

plugins/dynmap/shaders.txt
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/lightings.txt
plugins/dynmap/perspectives.txt

plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin
# плагин на снег
plugins/FoxSnow/pluginData/
plugins/LuckPerms/editor-keystore.json
plugins/NotQuests/backups/
plugins/NotQuests/database_sqlite.db
plugins/NotQuests/database_sqlite.db-shm
plugins/NotQuests/database_sqlite.db-wal
plugins/Parkour/backups/
plugins/Parkour/sqlite-db/
plugins/PlaceholderAPI/javascripts/javascript_data/
plugins/PlasmoVoice/voice_mutes.json
plugins/PlasmoVoice/data.json
plugins/PlasmoVoice/uStats.toml
plugins/ProtocolLib/lastupdate
plugins/RedProtect/backups/
plugins/RedProtect/data/
plugins/RedProtect/schematics/
plugins/TAB/skincache.yml
plugins/TAB/playerdata.yml
# Нет необходимости
plugins/Via*
# Вещи которые нужно вернуть игрокам, забросивших магазин
plugins/VillagerMarket/abandon_offline.yml
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/sessions/
config/emotecraft_emote_map.json

# Лишние файлы локализация
plugins/GSit/lang/
!plugins/Gsit/lang/ru_ru.yml
!plugins/Gsit/lang/en_us.yml
!plugins/Gsit/lang/uk_ua.yml

plugins/CarbonChat/locale/
!plugins/CarbonChat/locale/messages-en_US.properties
!plugins/CarbonChat/locale/messages-ru_RU.properties
!plugins/CarbonChat/locale/messages-uk_UA.properties

plugins/CreativeManager/lang/
!plugins/CarbonChat/locale/ru_RU.yml
!plugins/CarbonChat/locale/en_US.yml

plugins/CustomDiscs/language/
!plugins/CarbonChat/language/ru_RU.yml
!plugins/CarbonChat/language/en_US.yml

plugins/LuckPerms/translations/repository
!plugins/LuckPerms/translations/repository/ru_RU.properties
!plugins/LuckPerms/translations/repository/uk_UA.properties

plugins/NotQuests/languages/
!plugins/NotQuests/languages/default.yml
!plugins/NotQuests/languages/en-US.yml
!plugins/NotQuests/languages/ru-RU.yml
!plugins/NotQuests/languages/uk-UA.yml

plugins/PlasmoVoice/languages/
!plugins/PlasmoVoice/languages/en-US.toml
!plugins/PlasmoVoice/languages/ru-RU.toml
!plugins/PlasmoVoice/languages/uk-UA.toml

plugins/PlayerPoints/locale/
!plugins/PlasmoVoice/languages/en_US.yml
!plugins/PlasmoVoice/languages/ru_RU.yml
!plugins/PlasmoVoice/languages/uk_UA.yml

plugins/VillagerMarket/language/
!plugins/VillagerMarket/language/en_US.yml
!plugins/VillagerMarket/language/ru_RU.yml